
.videoGrid{
    background-color: purple;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    

}

video{
    transform: scaleX(1.2);
    margin: 3rem auto;
    max-width: 600px;
    position: relative;
    
}
