

body{
    background: rgb(209,190,66);
    background: linear-gradient(306deg, rgba(209,190,66,1) 0%, rgba(188,107,204,1) 100%);
    width: 100%;
    overflow-x: hidden;
    margin:0;
    height: auto;
}
.videoWrapper{
  min-height: 91vh;
  height: auto;
  position: relative;
  margin: .5rem;
  margin-bottom: 1rem;
  box-sizing: inherit;
}

.videoGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

video{
    transform: scaleX(1.2);
    width: 25%;
    padding: 0%;
    margin: 1%;
    position: relative;
    background-color: transparent;
    transition: .8s all ease-in-out;
    
}

/*this needs to be on click*/
.expand{
  padding: 2.5%;
    width: 57%;
   
}

@media(max-width: 450px){
    .videoWrapper{
        padding-bottom: 5rem;
    }
    video{
        height:0%;
        margin: 0%;
        margin-bottom: 0.5rem;
        padding:0%;
        width:80%;
    }

    /*disable zoom in portrate mode*/
    video:hover{
        width: 80%;
        padding:0%;
    }
    .expand{
        width: 80%;
        padding:0%;   
      }
    
}

@media (orientation: landscape) {
      video{
          height:0%;
      
        }
        .expand{
            height:0%;
            padding-top: 0%;
            
        }
  }



footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  
    background: rgba(255, 255, 255, 0.75); 
    
}

.roomInfo{
    flex:1;
    position: relative;
    margin: 0.5rem;
    padding-top: 0.75rem;
    margin-left: 1rem;
    text-align: left;
    color: black;

  
}

.controlsWrapper{
    position: relative;
    padding: .2rem;
    width:15rem;
    margin: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    color: black;
}

/* When muted */
.bi-camera-video-off-fill, .bi-mic-mute-fill{
    color: red;
}

.room{
    flex:1;
    position: relative;
    margin: 0.5rem;
    padding:.5rem;
    display:flex;
    justify-content: flex-end;
}


form{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.btn{
    margin-left: .5rem;
    margin-right: .5rem;
    width: 18%;
    max-width: 70px;
    min-width: 60px;
}

input{
    text-align: center;
    width: 5%;
    max-width: 70px;
}


@media(max-width: 750px){
    .roomInfo{
        display: none;
    }
    .controlsWrapper{
        flex: 1;
        margin-right: .2rem;
        margin-left: .2rem;
        padding-left: 0%;
    }
    .room{
        flex:1.6;
        margin: 0;
        padding:0;
    }
    form{
        justify-content: center;
    }
    .btn{
        margin-left: .1rem;
    }
}




/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 260px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 25px;
    left: 50%;
    margin-left: -268px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 88%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
    -webkit-animation: fadeOut 2s;
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
    

  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
  }
  
  @keyframes fadeOut {
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
  }

  